body {
  margin: 0;
  font-family: "Inter", sans-serif;
  background-color: #e7f6ff;
}

button {
  cursor: pointer;
  border: 0;
  background: #ffffff;
}

* {
  font-family: "Inter", sans-serif;
}

.wrapper {
  background: #ffffff;
  box-shadow: 0px 20px 35px rgba(0, 0, 0, 0.06);
  border-radius: 20px;
  max-width: 1080px;
  margin: 50px auto;
}

header {
  border-bottom: 1px solid #eaeaea;
  img {
    margin-right: 15px;
  }

  h3,
  p {
    margin: 0;
  }
}

.content {
  h1 {
    margin: 0;
  }
}

.cards {
  gap: 35px 46px;
}

.search-block {
  border: 1px solid #f3f3f3;
  padding: 10px;
  border-radius: 10px;

  img {
    margin-left: 5px;
  }

  input {
    border: 0;
    margin-left: 13px;
    width: 200px;
  }
}

.overlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.05);
  z-index: 1;
}

.drawer {
  position: fixed;
  width: 420px;
  right: 0;
  height: 100%;
  background: #ffffff;
  box-shadow: -10px 4px 24px rgba(0, 0, 0, 0.1);
  padding: 30px;

  h2 {
    margin: 0;
  }
}

.cart-item {
  border-radius: 20px;
  border: 1px solid #f3f3f3;
  padding: 10px;

  p {
    font-size: 16px;
  }

  b {
    font-size: 14px;
  }
}

.total-block {
  li {
    display: flex;
    align-items: flex-end;
    margin-bottom: 19px;
  }

  div {
    flex: 1;
    height: 1px;
    border-bottom: 1px dashed #dfdfdf;
    margin: 0 10px;
    position: relative;
    top: -4px;
  }
}

.cart-items {
  flex: 1;
  overflow: auto;
}

.checkout-button {
  width: 100%;
  height: 55px;
  border-radius: 18px;
  padding: 20px;
  color: #ffffff;
  background-color: #9dd458;
  font-weight: 600;
  font-size: 16px;
  transition: background 0.1s ease-in-out;

  img {
    position: absolute;
    right: 70px;
    transition: transform 0.15s ease-in-out;
  }

  &:hover {
    background: lighten(#9dd458, 5%);
    img {
      transform: translateX(5px);
    }
  }

  &:active {
    background: darken(#9dd458, 5%);
  }
}

.close-btn {
  opacity: 0.5;
  transition: opacity 0.15s ease-in-out;

  &:hover {
    opacity: 1;
  }
}

.empty-cart {
  width: 285px;
  height: 320px;
  gap: 20px;

  h3, p {
    margin: 0;
  }

  p {
    text-align: center;
  }
}